{% extends 'polls/base.html' %}
<!-- 加载静态文件目录 -->
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}"/>
{% block container %}
<h2>问题列表</h2>
{% if latest_question_list %}
    <ul class="list-group">
        {% for question in latest_question_list %}
        <li class="list-group-item"><a href="{% url 'polls:detail' question.id %}">{{ forloop.counter }}.{{ question.question_text }}</a></li>
        {% endfor %}
    </ul>
{% else %}
    <p>No polls are available.</p>
{% endif %}
{% endblock %}
