{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href={% static 'blog/bootstrap-4/css/bootstrap.min.css' %} rel="stylesheet">
      <!-- Custom styles for this template -->
{#    <link href={% static 'blog/css/starter-template.css' %} rel="stylesheet">#}
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">博客</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'blog:index' %}">主页 <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'blog:personal_center' %}">个人中心</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Disabled</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="{% url 'blog:blog_search'%} " method="post">
        {% csrf_token %}
      <input class="form-control mr-sm-2" type="text" placeholder="Search" name="blog_name" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">搜索</button>
    </form>
  </div>
</nav>

    <div class="container">
        {% block container %}{% endblock %}
    </div><!-- /.container -->
</body>
<script type="text/javascript" src={% static 'blog/bootstrap-4/js/vendor/jquery-slim.min.js' %}></script>
</html>
